*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.tbody{
    width: 1000px;
	height: 550px;
    margin: 20px auto;
}

.cal-body{
    width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
}

.ans{
    height: 120px;
}
.numbers{
    height: 400px;
}
button{
    width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
    background-color:transparent;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

#history{
    text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}